/* Laptop */
@media only screen and (min-width: 1000px){
	#specialApply {display:none;}
	.single-volunteer_projects h1 {font-size: 54px;line-height: 62px;text-align:center;} 
	.single .heading-title {border-bottom:none;margin-bottom:0px;}
	#post-area >article .content-inner {display:none;}
	#priceBox {padding-top:12px!important;padding-bottom:12px!important;}
	#priceBox .from {font-size:14px; letter-spacing:2px;padding-right:6px;}
	#priceBox .pricing {font-size:32px; line-height:30px; padding-right:16px; font-weight:900;}
	#priceBox a.nectar-button.small {padding:6px 14px; margin-top:0px; margin-bottom:0px;font-size:16px;letter-spacing:1px;font-weight:900;}
	.single-volunteer_projects .page-submenu li.current-menu-item a {border-bottom:5px solid; font-weight:bold;padding-bottom:7px!important;}
	#hiding, #hiding2, .hidingbutrelevant {display:none;}
	.page-submenu li a {padding-top:12px!important;padding-bottom:12px!important;}
	.page-submenu {display:none;}
	.sticky-wrapper .page-submenu {display:block;}
	.Privileges p {font-size:16px;padding-bottom:0px}
	
/* GForms Styling */
	#field_2_12, #field_3_12 {float:left; width:13%; clear:both;}
	#field_2_1,
	#field_2_2,
	#field_2_3,
	#field_2_7 {float:left; clear:right; width:16%;padding-right:24px;}
	#field_2_8 {float:left; clear:right; width:19%;padding-right:24px;margin-top:5em;}
	#field_2_8 a {font-weight:900; letter-spacing:1px;}
	#input_2_7 {padding:0px!important;border:0px!important;font-size:30px!important;font-weight:900;}
	select.large {background:#fefefe; font-size:20px!important; height:2em;}
	#field_2_9,
	#field_2_13,
	#field_2_14 {float:left; clear:right; width:29%;padding-right:24px;}
	#field_2_13,
	#field_2_14 {padding-top:2px;}
	#input_2_9 label {display:none;}
	#field_2_16 {float:left; clear:right; width:85%;padding-right:0px;}
	#input_2_9_3,
	#input_2_13,
	#input_2_14,
	#input_2_16 {background:#fefefe!important;}
	.gform_wrapper .gform_footer {font-size:20px; text-align:center;}
/* DivTable.com */
	.divTable{
		display: table;
		width: 100%;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableCell, .divTableHead {
		border: 1px solid #eee;
		display: table-cell;
		padding: 3px 10px;
		text-align:center;
		color:#008ae6;
		font-weight:600;
	}
	#thead {
		background-color: #EEE;
	}
	#thead .divTableCell {
		font-weight:900;
		color:#666;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
		
}	

/* Tablet */
@media only screen and (min-width : 640px) and (max-width : 1000px) {
	#specialApply {display:none;}
		
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 639px) {
	#priceBox {padding-top:2px!important;padding-bottom:2px!important;}
	#priceBox .from {font-size:10px; letter-spacing:0px;padding-right:4px;}
	#priceBox .pricing {font-size:13px; line-height:15px; padding-right:0px;}
	#priceBox a.nectar-button.small {padding:4px 14px; margin-top:4px; display:none;}
	body.single-volunteer_projects #post-area >article .content-inner {display:none;}
	.single-volunteer_projects h1 {font-size: 20px;line-height: 28px;text-align:center;}
	.single.single-volunteer_projects .heading-title {margin-bottom:0px;border:none;}
	.page-submenu .mobile-menu-link {padding:10px 20px;}
	.page-submenu ul {top:38px!important;position:relative!important;}
	body #specialApply {display:none;}
	body.single-volunteer_projects #specialApply {display:inline-block; position:relative; left:51%; top:5px;font-weight:bold;letter-spacing:1px;}
	body h4, .row .col h4 {padding: 0px 6%; font-size:16px; line-height:22px;}
	#hiding {display:none;}
	a#toggle-nav {display:block; width:34px;border:1px solid red;}
	body[data-slide-out-widget-area="true"] header#top #homelink {width:49%!important;}

}