/* Laptop */
@media only screen and (min-width: 1000px){
	
	body.archive header#top nav > ul li.slide-out-widget-area-toggle {display: none;}
	
	.main-content ul {margin-top: 0px; margin-left: 18px!important; margin-bottom: 0px!important;}
	#sidebar select {
		background-color: transparent!important;
		padding: 0px!important;
		box-shadow: none!important;
		overflow-x: visible!important;
		display: table;
	}
	#sidebar select option {
		display: inline-flex;
		max-width: 180px;
		float: left;
		margin: 2px;
		overflow-y: hidden;
		padding: 6%;
		color: #fff;
		font-weight: 900;
	}
	.searchandfilter ul li {padding-top: 0px!important;}
	#sidebar .searchandfilter ul li h4 {padding: 0px!important; margin: 0px!important;}
	li.sf-field-taxonomy-project_type select option {background: #da5838!important;}
	li.sf-field-taxonomy-impact_type select option {background: #4E98A5!important;}
	li.sf-field-taxonomy-destination select option {background: #7D8F57!important;}
	#sidebar select option.sf-option-active {background: #ffc!important;color:#222!important;}
	
	ul#ProjectType {margin-left:0px!important;}
	ul#ProjectType li {list-style: none!important;}
	ul#ProjectType li a {background:#DD7B3C!important;border: 1px solid #f9f9f9!important;padding: 11px 10px!important;font-weight: 900;line-height: 17px!important;width:50%;float: left;}
	ul#ProjectType li.fullpercent a {width: 100%; text-align: center;line-height: 32px!important;}
	#ProjectType a {color: #fff; text-align: center;}
	#ProjectType a:hover {background:#A15D2F!important; color: #ffc; }

	#sidebar h4	{margin-bottom: 7px!important;}
	#sidebar h4.marginTop24 {margin-top: 24px!important;}
	
	ul#ImpactType {margin-left:0px!important;}
	ul#ImpactType li {list-style: none!important;}
	ul#ImpactType li a {background:#4E98A5!important;border: 1px solid #f9f9f9!important;padding: 6px 7px!important;font-weight: 900;line-height: 14px!important;width:33%;float: left;font-size: 11px!important;display: block;overflow: hidden;height: 42px;}
	#ImpactType a {color: #fff; text-align: center;}
	#ImpactType a:hover {background:#467d87!important; color: #ffc; }
	
	ul#Destinationss {margin-left:0px!important;}
	ul#Destinationss li {list-style: none!important;}
	ul#Destinationss li a {background:#7D8F57!important;border: 1px solid #f9f9f9!important;padding: 6px 7px!important;font-weight: 900;line-height: 14px!important;width:33%;float: left;font-size: 11px!important;display: block;overflow: hidden;height: 29px;}
	#Destinationss a {color: #fff; text-align: center;}
	#Destinationss a:hover {background:#6a784c!important; color: #ffc; }
	
	#search-results .result .inner-wrap {width: 61%; background-size: cover;}
	#title-and-excerpt {width:38%;}
	
	.single-volunteer_projects .heading-title[data-header-style="default_minimal"] {padding-top:0px;}
	#specialApply {display:none;}
	.single-volunteer_projects h1 {font-size: 54px;line-height: 62px;text-align:center;} 
	.single .heading-title {border-bottom:none;margin-bottom:0px;}
	.single-volunteer_projects #post-area >article .content-inner {display:none;}
	#priceBox {padding-top:12px!important;padding-bottom:12px!important;}
	#priceBox .from {font-size:14px; letter-spacing:2px;padding-right:6px;}
	#priceBox .pricing {font-size:32px; line-height:30px; padding-right:16px; font-weight:900;}
	#priceBox a.nectar-button.small {padding:6px 14px; margin-top:0px; margin-bottom:0px;font-size:16px;letter-spacing:1px;font-weight:900;}
	.single-volunteer_projects .page-submenu li.current-menu-item a {border-bottom:5px solid; font-weight:bold;padding-bottom:7px!important;}
	#hiding, #hiding2, .hidingbutrelevant {display:none;}
	.page-submenu li a {padding-top:12px!important;padding-bottom:12px!important;}
	.page-submenu {display:none;}
	.sticky-wrapper .page-submenu {display:block;}
	.Privileges p {font-size:16px;padding-bottom:0px}
	.Privileges ul li {
		font-size: 15px;
		line-height: 19px;
	    padding-bottom: 10px;
	    border-bottom: 1px solid #ddd;
	    margin-bottom: 12px;
	    }
	.secondhalfreview {padding-top:75px!important;}
	.bottom-meta, .sharing-default-minimal, .blog_next_prev_buttons {display: none;}
	
/* GForms Styling */
	body .gform_wrapper ul li.gfield.contact-me {float:left; width:13%; clear:both;}
	body .gform_wrapper ul li.gfield.dr-year,
	body .gform_wrapper ul li.gfield.dr-duration,
	body .gform_wrapper ul li.gfield.dr-currency,
	body .gform_wrapper ul li.gfield.dr-fees,
	body .gform_wrapper ul li.gfield.dr-please-enquire {float:left; clear:right; width:16%;padding-right:24px;}
	body .gform_wrapper ul li.gfield.enquire-button {float:left; clear:right; width:19%;padding-right:24px;margin-top:5em;}
	body .gform_wrapper ul li.gfield.enquire-button a {font-weight:900; letter-spacing:1px;}
	body .gform_wrapper ul li.gfield.dr-fees input {padding:0px!important;border:0px!important;font-size:30px!important;font-weight:900;}
	body .gform_wrapper ul li.gfield.dr-please-enquire input {padding:10px 0px 0px!important;border:0px!important;font-size:20px!important;font-weight:900;}
	select.large {background:#fefefe; font-size:20px!important; height:2em;}
	body .gform_wrapper ul li.gfield.full-name,
	body .gform_wrapper ul li.gfield.email,
	body .gform_wrapper ul li.gfield.phone {float:left; clear:right; width:29%;padding-right:24px;}
	body .gform_wrapper ul li.gfield.email,
	body .gform_wrapper ul li.gfield.phone {padding-top:2px;}
	body .gform_wrapper ul li.gfield.full-name span.name_first label {display:none;}
	body .gform_wrapper ul li.gfield.message {float:left; clear:right; width:85%;padding-right:0px;}
	body .gform_wrapper ul li.gfield.full-name input,
	body .gform_wrapper ul li.gfield.email input,
	body .gform_wrapper ul li.gfield.phone input,
	body .gform_wrapper ul li.gfield.message textarea {background:#fefefe!important;}
	.gform_wrapper .gform_footer {font-size:20px; text-align:center;}

/* DivTable-com */
	.divTable{
		display: table;
		width: 100%;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableCell, .divTableHead {
		border: 1px solid #eee;
		display: table-cell;
		padding: 3px 10px;
		text-align:center;
		color:#008ae6;
		font-weight:600;
	}
	#thead {
		background-color: #EEE;
	}
	#thead .divTableCell {
		font-weight:900;
		color:#666;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}

/* Owl Carousel */
	.owl-theme .owl-nav [class*='owl-'] {
	    display: inline-block !important;
	}
	.owl-theme .owl-nav [class*='owl-']:hover {background: #008ae6;}
	.owl-controls .owl-dots{
		position: absolute;
		top:67px;
		left:42.6%;
	}
	.owl-carousel .owl-nav .owl-prev {
		position: absolute; 
		top:22px; 
		left:42%;
	}
	.owl-carousel .owl-nav .owl-next {
		position: absolute; 
		top:22px; 
		left:45%;
	} 
	.carousel-info-on-right .owl-controls .owl-dots{
		position: absolute;
		top:67px;
		left:52.6%;
	}
	.carousel-info-on-right .owl-carousel .owl-nav .owl-prev {
		position: absolute; 
		top:22px; 
		left:52%;
	}
	.carousel-info-on-right .owl-carousel .owl-nav .owl-next {
		position: absolute; 
		top:22px; 
		left:55%;
	} 
	.owl-carousel .owl-nav .owl-prev,
	.owl-carousel .owl-nav .owl-next,
	.owl-carousel .owl-dot {
	    font-family: 'fontAwesome';
	}
	.owl-carousel .owl-nav .owl-prev:before{
	    // fa-chevron-left
	    content: "\f053";
	    margin-right:10px;
	}
	.owl-carousel .owl-nav .owl-next:after{
	    //fa-chevron-right
	    content: "\f054";
	    margin-right:10px;
	}
		
}	

/* Tablet */
@media only screen and (min-width : 640px) and (max-width : 1000px) {
	
	#sidebar {display: none;}
	#slide-out-widget-area {background-color: #333!important;}
	
	
	#search_filter_register_widget-2 .searchandfilter ul li h4 {padding: 0px!important; margin: 0px!important;}
	li.sf-field-taxonomy-project_type select option {background: #da5838!important;}
	li.sf-field-taxonomy-impact_type select option {background: #4E98A5!important;}
	li.sf-field-taxonomy-destination select option {background: #7D8F57!important;}
	#sidebar select option.sf-option-active {background: #ffc!important;color:#222!important;}
	
	#slide-out-widget-area ul#ProjectType {margin-left:0px!important;}
	#slide-out-widget-area ul#ProjectType li {list-style: none!important;}
	#slide-out-widget-area ul#ProjectType li a {background:#DD7B3C!important;border: 1px solid rgba(51, 51, 51, 0.5)!important;padding: 11px 10px!important;font-weight: 900;line-height: 17px!important;width:50%;float: left;}
	#slide-out-widget-area ul#ProjectType li.fullpercent a {width: 100%; text-align: center;line-height: 32px!important;}
	#slide-out-widget-area #ProjectType a {color: #fff; text-align: center;}
	#slide-out-widget-area #ProjectType a:hover {background:#A15D2F!important; color: #ffc; }

	#slide-out-widget-area h4	{margin-bottom: 7px!important;}
	#slide-out-widget-area h4.marginTop24 {margin-top: 24px!important;}
	
	#slide-out-widget-area ul#ImpactType {margin-left:0px!important;}
	#slide-out-widget-area ul#ImpactType li {list-style: none!important;}
	#slide-out-widget-area ul#ImpactType li a {background:#4E98A5!important;border: 1px solid rgba(51, 51, 51, 0.5)!important;padding: 6px 7px!important;font-weight: 900;line-height: 14px!important;width:33%;float: left;font-size: 11px!important;display: block;overflow: hidden;height: 42px;}
	#slide-out-widget-area #ImpactType a {color: #fff; text-align: center;}
	#slide-out-widget-area #ImpactType a:hover {background:#467d87!important; color: #ffc; }
	
	#slide-out-widget-area ul#Destinationss {margin-left:0px!important;}
	#slide-out-widget-area ul#Destinationss li {list-style: none!important;}
	#slide-out-widget-area ul#Destinationss li a {background:#7D8F57!important;border: 1px solid rgba(51, 51, 51, 0.5)!important;padding: 6px 7px!important;font-weight: 900;line-height: 14px!important;width:33%;float: left;font-size: .7em!important;display: block;overflow: hidden;height: 29px;}
	#slide-out-widget-area #Destinationss a {color: #fff; text-align: center;}
	#slide-out-widget-area #Destinationss a:hover {background:#6a784c!important; color: #ffc; }
	
	#search-results .result .inner-wrap {width: 100%; background-size: cover!important;}
	#title-and-excerpt {width:100%;}
	#title-and-excerpt p.excerpt {float: left;width:61%;margin-right: 7%;}
	a#result-button {width:32%;margin-top:2%;}

	.single-volunteer_projects .heading-title[data-header-style="default_minimal"] {padding-top:0px;}
	#specialApply {display:none;}
	.single .heading-title {border: 0px;margin-bottom: 0px;text-align: center;}
	#post-area >article .content-inner {display:none;}
	#priceBox {padding-top:12px!important;padding-bottom:12px!important;}
	#priceBox .from {font-size:14px; letter-spacing:1px;padding-right:6px;}
	#priceBox .pricing {font-size:26px; line-height:30px; padding-right:16px; font-weight:900;}
	#priceBox a.nectar-button.small {padding:6px 14px; margin-top:0px; margin-bottom:0px;font-size:16px;letter-spacing:1px;font-weight:900;}
	.single-volunteer_projects .page-submenu li.current-menu-item a {border-bottom:5px solid; font-weight:bold;padding-bottom:7px!important;}
	#hiding, #hiding2, .hidingbutrelevant {display:none;}
	.page-submenu li a {padding-top:12px!important;padding-bottom:12px!important;}
	.page-submenu {display:none;}
	.sticky-wrapper .page-submenu {display:block;}
	.Privileges p {font-size:16px;padding-bottom:0px}
	
	.page-submenu .mobile-menu-link {display:none;}
	.page-submenu.stuck a.mobile-menu-link {display:inline-block;}
	
	.instance-20,
	.instance-21,
	.instance-22 {margin-bottom: 0px!important;}
	
	.instance-20 p,
	.instance-21 p,
	.instance-22 p {padding-bottom:0px!important;margin-bottom: 25px!important;}
	p.noBottomMargin {margin-bottom: 0px!important;}
	
	.carousel-info-on-left .padding-11-percent {margin:20px 0px!important;}
	
	.instance-25,
	.instance-27,
	.instance-29 {margin-top: 20px!important;}
	.bottom-meta, .sharing-default-minimal, .blog_next_prev_buttons {display: none;}
	
/* GForms Styling */
	body .gform_wrapper ul li.gfield.contact-me {float:left; width:17%; clear:both;}
	body .gform_wrapper ul li.gfield.dr-year,
	body .gform_wrapper ul li.gfield.dr-duration,
	body .gform_wrapper ul li.gfield.dr-currency,
	body .gform_wrapper ul li.gfield.dr-fees,
	body .gform_wrapper ul li.gfield.dr-please-enquire {float:left; clear:right; width:19%;padding-right:24px;}
	body .gform_wrapper ul li.gfield.enquire-button {float:left; clear:right; width:21%;padding-right:24px;margin-top:3em;}
	body .gform_wrapper ul li.gfield.enquire-button a {font-weight:900; letter-spacing:0px;}
	body .gform_wrapper ul li.gfield.dr-fees input {padding:0px!important;border:0px!important;font-size:26px!important;font-weight:900;}
	body .gform_wrapper ul li.gfield.dr-please-enquire input {padding:10px 0px 0px!important;border:0px!important;font-size:12px!important;font-weight:900;}
	select.large {background:#fefefe; font-size:17px!important; height:2em;}
	body .gform_wrapper ul li.gfield.full-name,
	body .gform_wrapper ul li.gfield.email,
	body .gform_wrapper ul li.gfield.phone {float:left; clear:right; width:27%;padding-right:24px;}
	body .gform_wrapper ul li.gfield.email,
	body .gform_wrapper ul li.gfield.phone {padding-top:2px;}
	body .gform_wrapper ul li.gfield.full-name span.name_first label {display:none;}
	body .gform_wrapper ul li.gfield.message {float:left; clear:right; width:77%;padding-right:0px;}
	body .gform_wrapper ul li.gfield.full-name input,
	body .gform_wrapper ul li.gfield.email input,
	body .gform_wrapper ul li.gfield.phone input,
	body .gform_wrapper ul li.gfield.message textarea {background:#fefefe!important;}
	.gform_wrapper .gform_footer {font-size:20px; text-align:center;}

/* DivTable-com */
	.divTable{
		display: table;
		width: 100%;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableCell, .divTableHead {
		border: 1px solid #eee;
		display: table-cell;
		padding: 3px 10px;
		text-align:center;
		color:#008ae6;
		font-weight:600;
	}
	#thead {
		background-color: #EEE;
	}
	#thead .divTableCell {
		font-weight:900;
		color:#666;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
	
	.instance-24 .divider-wrap {display: none;}
	
		
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 639px) {
	
	#sidebar {display: none;}
	#slide-out-widget-area {background-color: #333!important;}
	
	
	#search_filter_register_widget-2 .searchandfilter ul li h4 {padding: 0px!important; margin: 0px!important;}
	li.sf-field-taxonomy-project_type select option {background: #da5838!important;}
	li.sf-field-taxonomy-impact_type select option {background: #4E98A5!important;}
	li.sf-field-taxonomy-destination select option {background: #7D8F57!important;}
	#sidebar select option.sf-option-active {background: #ffc!important;color:#222!important;}
	
	#slide-out-widget-area ul#ProjectType {margin-left:0px!important;}
	#slide-out-widget-area ul#ProjectType li {list-style: none!important;}
	#slide-out-widget-area ul#ProjectType li a {background:#DD7B3C!important;border: 1px solid rgba(51, 51, 51, 0.5)!important;padding: 11px 10px!important;font-weight: 900;line-height: 17px!important;width:50%;float: left;}
	#slide-out-widget-area ul#ProjectType li.fullpercent a {width: 100%; text-align: center;line-height: 32px!important;}
	#slide-out-widget-area #ProjectType a {color: #fff; text-align: center;}
	#slide-out-widget-area #ProjectType a:hover {background:#A15D2F!important; color: #ffc; }

	#slide-out-widget-area h4	{margin-bottom: 7px!important;}
	#slide-out-widget-area h4.marginTop24 {margin-top: 24px!important;}
	
	#slide-out-widget-area ul#ImpactType {margin-left:0px!important;}
	#slide-out-widget-area ul#ImpactType li {list-style: none!important;}
	#slide-out-widget-area ul#ImpactType li a {background:#4E98A5!important;border: 1px solid rgba(51, 51, 51, 0.5)!important;padding: 6px 7px!important;font-weight: 900;line-height: 14px!important;width:33%;float: left;font-size: 11px!important;display: block;overflow: hidden;height: 42px;}
	#slide-out-widget-area #ImpactType a {color: #fff; text-align: center;}
	#slide-out-widget-area #ImpactType a:hover {background:#467d87!important; color: #ffc; }
	
	#slide-out-widget-area ul#Destinationss {margin-left:0px!important;}
	#slide-out-widget-area ul#Destinationss li {list-style: none!important;}
	#slide-out-widget-area ul#Destinationss li a {background:#7D8F57!important;border: 1px solid rgba(51, 51, 51, 0.5)!important;padding: 6px 7px!important;font-weight: 900;line-height: 14px!important;width:33%;float: left;font-size: .7em!important;display: block;overflow: hidden;height: 29px;}
	#slide-out-widget-area #Destinationss a {color: #fff; text-align: center;}
	#slide-out-widget-area #Destinationss a:hover {background:#6a784c!important; color: #ffc; }
	
	#search-results .result .inner-wrap {width: 100%; height:244px; background-size: cover!important;}
	#title-and-excerpt {width:100%;}
	#title-and-excerpt p.excerpt {float: none;width:100%;margin-right: 0%;}
	a#result-button {width:initial;margin-top:0%;}
	.priceBar {margin-top:207px;font-size: 13px;padding: 4px 14px;}
	.priceBar span.from {font-size: 10px;}
	
	.single-volunteer_projects .heading-title[data-header-style="default_minimal"] {padding-top:0px;}
	#priceBox {padding-top:2px!important;padding-bottom:2px!important;}
	#priceBox .from {font-size:10px; letter-spacing:0px;padding-right:4px;}
	#priceBox .pricing {font-size:13px; line-height:15px; padding-right:0px;}
	#priceBox a.nectar-button.small {padding:4px 14px; margin-top:4px; display:none;}
	body.single-volunteer_projects #post-area >article .content-inner {display:none;}
	.single-volunteer_projects h1 {font-size: 20px;line-height: 28px;text-align:center;}
	.single.single-volunteer_projects .heading-title {margin-bottom:0px;border:none;}
	.page-submenu .mobile-menu-link {padding:10px 20px;}
	.page-submenu ul {top:38px!important;position:relative!important;}
	body #specialApply {display:none;}
	body.single-volunteer_projects #specialApply {display:inline-block; position:relative; left:51%; top:5px;font-weight:bold;letter-spacing:1px;}
	body h4, .row .col h4 {padding: 0px 6%; font-size:16px; line-height:22px;}
	#hiding, #hiding2 {display:none;}
	a#toggle-nav {display:block; width:34px;border:1px solid red;}
	body[data-slide-out-widget-area="true"] header#top #homelink {width:49%!important;}
	.vc_custom_1494844196077 {margin-top: 0px!important;}
	.instance-8 h3 {font-size: 24px!important;line-height: 27px!important;}
	.Privileges p {font-size:16px;padding-bottom:0px;line-height: 19px;}
	#dates-rates {padding-top: 32px!important;}
	
	.page-submenu .mobile-menu-link {display:none;}
	.page-submenu.stuck a.mobile-menu-link {display:inline-block;}
	
	.instance-6 .divider-wrap .divider {height: 60px!important;}
	.carousel-info-on-left .divider-wrap .divider {height: 0px!important;}
	#fws_5948b9a3851b9 {padding-bottom: 0px!important;}
	.nectar-split-heading {margin-top: 24px;}
	.nectar-split-heading h2 {margin-bottom: 0px!important;}
	.instance-19 {padding: 0px 6%;}
	
	.instance-17 p,
	.instance-20 p,
	.instance-21 p,
	.instance-22 p,
	.carousel-info-on-left p,
	.carousel-info-on-left p,
	.carousel-info-on-left p,
	.carousel-info-on-left p {font-size: 13px;line-height: 20px;}
	
	.instance-20,
	.instance-21,
	.instance-22 {margin-bottom: 0px!important;}
	
	.carousel-info-on-left .padding-11-percent,
	.carousel-info-on-right .padding-11-percent {margin:20px 0px!important;}
	
	.instance-20 p,
	.instance-21 p,
	.instance-22 p {padding-bottom:0px!important;margin-bottom: 25px!important;}
	p.noBottomMargin {margin-bottom: 0px!important;}
	
	.carousel-info-on-left {margin-top: 20px!important;}
	.carousel-info-on-left .divider-wrap .divider,
	.carousel-info-on-right .divider-wrap .divider {height: 215px!important;}
	.padding-11-percent .divider-wrap .divider {height: 0px!important;margin-bottom: 30px!important;}
	.carousel-info-on-left.padding-11-percent .divider-wrap .divider {height: 0px!important;margin-bottom: 5px!important;}
	.bottom-meta, .sharing-default-minimal, .blog_next_prev_buttons {display: none;}
	
/* GForms Styling */
	body .gform_wrapper ul li.gfield.contact-me {float:left; width:100%; clear:both;}
	body .gform_wrapper ul li.gfield.dr-year,
	body .gform_wrapper ul li.gfield.dr-duration,
	body .gform_wrapper ul li.gfield.dr-currency,
	body .gform_wrapper ul li.gfield.dr-fees,
	body .gform_wrapper ul li.gfield.dr-please-enquire {float:left; clear:right; width:36%;padding-right:24px;}
	body .gform_wrapper ul li.gfield.enquire-button {float:left; clear:right; width:21%;padding-right:24px;margin-top:3em;}
	body .gform_wrapper ul li.gfield.enquire-button a {font-weight:900; letter-spacing:0px; line-height: 14px!important;}
	body .gform_wrapper ul li.gfield.dr-fees input {padding:0px!important;border:0px!important;font-size:26px!important;line-height:1;font-weight:900;}
	body .gform_wrapper ul li.gfield.dr-please-enquire input {padding:0px!important;border:0px!important;font-size:10px!important;line-height:1;font-weight:900;}
	select.large {background:#fefefe; font-size:14px!important; height:1.8em;}
	body .gform_wrapper ul li.gfield.full-name,
	body .gform_wrapper ul li.gfield.email,
	body .gform_wrapper ul li.gfield.phone {float:left; clear:right; width:100%;padding-right:0px;}
	body .gform_wrapper ul li.gfield.email,
	body .gform_wrapper ul li.gfield.phone {padding-top:2px;}
	body .gform_wrapper ul li.gfield.full-name span.name_first label {display:none;}
	body .gform_wrapper ul li.gfield.message {float:left; clear:right; width:100%;padding-right:0px;}
	body .gform_wrapper ul li.gfield.full-name input,
	body .gform_wrapper ul li.gfield.email input,
	body .gform_wrapper ul li.gfield.phone input,
	body .gform_wrapper ul li.gfield.message textarea {background:#fefefe!important;}
	.gform_wrapper .gform_footer {font-size:20px; text-align:center;}
	body .gform_wrapper .top_label .gfield_label {margin-top: 9px!important;}
	body .gform_wrapper ul li.gfield_label {margin-top: 10px!important;}
	
	.gform_wrapper .gfield_radio li {margin-bottom: 0px!important;}

/* DivTable-com */
	.divTable{
		display: table;
		width: 100%;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableCell, .divTableHead {
		border: 1px solid #eee;
		display: table-cell;
		padding: 0px 0px;
		text-align:center;
		color:#008ae6;
		font-weight:600;
		font-size: 9px;
	}
	#thead {
		background-color: #EEE;
	}
	#thead .divTableCell {
		font-weight:900;
		color:#666;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
	
	.instance-24 .divider-wrap {display: none;}

/* Owl Carousel */
	.owl-theme .owl-nav, .owl-controls .owl-dots [class*='owl-'] {
	    display: none !important;
	}
	.owl-theme .owl-nav [class*='owl-']:hover {background: #008ae6;}
	.owl-controls .owl-dots{
		position: absolute;
		top:55px;
		left:72%;
	}
	.owl-carousel .owl-nav .owl-prev {
		position: absolute; 
		top:12px; 
		left:72%;
	}
	.owl-carousel .owl-nav .owl-next {
		position: absolute; 
		top:12px; 
		left:82%;
	} 
	.instance-30 .owl-controls .owl-dots{
		position: absolute;
		top:297px;
		left:72.6%;
	}
	.instance-30 .owl-carousel .owl-nav .owl-prev {
		position: absolute; 
		top:251px; 
		left:72%;
	}
	.instance-30 .owl-carousel .owl-nav .owl-next {
		position: absolute; 
		top:251px; 
		left:82%;
	} 
	.owl-carousel .owl-nav .owl-prev,
	.owl-carousel .owl-nav .owl-next,
	.owl-carousel .owl-dot {
	    font-family: 'fontAwesome';
	}
	.owl-carousel .owl-nav .owl-prev:before{
	    // fa-chevron-left
	    content: "\f053";
	    margin-right:10px;
	}
	.owl-carousel .owl-nav .owl-next:after{
	    //fa-chevron-right
	    content: "\f054";
	    margin-right:10px;
	}

}